/*Menú*/
.navegacion {
    font-size: 30px;
    display: flex;
    justify-content: space-between; /*utilizar todo el ancho disponible*/
    align-items: right;
    height: 70px;
    padding: 20px 0;
    color: black;
}

#iconohome {
    width: 6%;
    height: 10%;
    padding: 0;
    align-items: left;
    position: absolute;
}

#contacto {
    color: black;
}

#contacto:hover {
    background-color: orange;
}

ul {
    list-style: none;
}

body {
    width: 90%; /*todo el cuerpo con un margen a los lados*/
    margin: auto;
}
.logo {
    width: 25%; /*tamaño logo*/
}
.navegacion ul {
    display: flex; /*colocar elementos uno junto a otro en horizontal*/
}

.navegacion ul li {
    padding: 20px; /*separar elementos*/
}

.iconohome {
    width: 25%;
    align-items: left;
    position: absolute;
}

.navegacion ul li a {
    padding: 2px;
    text-decoration: none;
}

.navegacion ul.menu {
    flex: 1; /*para colocar los elementos a la izquierda junto al logo*/
    margin-left: 20px; 
}

.desplegable li a {
    color: black;
    text-decoration: none;
    display: block;
}

.desplegable li a:hover {
    background-color: orange;
}

.desplegable > li {
    float: left;
}

.desplegable li ul {
    display: none;
    position: absolute;
}

.desplegable li:hover > ul{
    display: block;
}

.desplegable li a#back {
    background-color: #fad7a0;
}

/*Cambio idioma*/
.cambioidioma i{
    color: black;
}

.cambioidioma i:hover {
    color: orange;
}
/*Cabecera*/
.cabecera {
    width: 100%;
    height: 90%;
    background: url("ImagenesHome/Techbrain.jpg") center/cover; /*imagen al centro*/
    display: flex; /*para centrar el texto*/
    flex-direction: column; /*colocar el texto*/
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 10px; /*margen debajo*/
    color: #fff;
}

.cabecera h1 {
    font-size: 40px;
}

.cabecera p {
    font-size: 20px;
}
/*Cuadrados*/
.cuadrosBBDD {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*colocar el contenido en 4 columnas*/
    gap: 25px; /*espacio entre columnas*/
    margin: 70px 0px; /*margen abajo y a los lados*/
}

.cuadrosBBDD img {
    width: 100%;
    height: 70%;
}

.cuadrosBBDD h3 {
    font-size: 20px;
    margin: 10px 0;
    color: black;
}

.cuadrosBBDD h3:hover {
    background-color: orange;
}

.cuadrosBBDD p {
    font-size: 15px;
}

.cuadrosBBDD a {
    text-decoration: none;
}
/*Nuestros clientes:*/
.clientes {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 30px;
    background-color: orange;
    position: relative;
    text-align: center;
}

.marcas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*colocar el contenido en 4 columnas*/
    gap: 25px; /*espacio entre columnas*/
    margin: 50px 0px; /*margen abajo y a los lados*/
    align-items: center;
}

.marcas img {
    width: 70%;
    height: 40%;
}

.footer {
    background-color: #004aad;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footer h3 {
    text-align: center;
    background-color: #004aad;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
}
.footer p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.footer p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

img {
    width: 5%;
    height: 5%;
    align-items: left;
}