/*Menú*/
.navegacion {
    font-size: 30px;
    display: flex;
    justify-content: space-between; /*utilizar todo el ancho disponible*/
    align-items: right;
    height: 70px;
    padding: 20px 0;
    color: black;
}

#iconohome {
    width: 8%;
    padding: 0;
    align-items: left;
    position: absolute;
}

#contacto {
    color: black;
}

#contacto:hover {
    background-color: orange;
}

ul {
    list-style: none;
}

body {
    width: 90%; /*todo el cuerpo con un margen a los lados*/
    margin: auto;
}

/*.logo {
    width: 25%; /*tamaño logo
}
*/

/*Cambio idioma*/
.cambioidioma i{
    color: black;
}

.cambioidioma i:hover {
    color: orange;
}

.empresa {
    color: black;
}

.navegacion ul {
    display: flex; /*colocar elementos uno junto a otro en horizontal*/
    z-index: 20;
}

.navegacion ul li {
    padding: 20px; /*separar elementos*/
}

.navegacion ul li a {
    padding: 2px;
    text-decoration: none;
}

.navegacion ul.menu {
    flex: 1; /*para colocar los elementos a la izquierda junto al logo*/
    margin-left: 20px; 
}

.menu {
    font-size: 96%;
}

.desplegable li a {
    color: black;
    text-decoration: none;
    display: block;
}

.desplegable li a:hover {
    background-color: orange;
}

.desplegable > li {
    float: left;
}

.desplegable li ul {
    display: none;
    position: absolute;
}

.desplegable li a#back {
    background-color: #fad7a0;
}

.desplegable li:hover > ul{
    display: block;
}
/*Cabecera*/
.cabecera {
    width: 100%;
    height: 70%;
    /*display: flex; /*para centrar el texto*/
    /*flex-direction: column; /*colocar el texto*/
    /*align-items: center;*/
    /*text-align: center;*/
    justify-content: flex-end;
    /*padding-left: 5%;*/
    margin-bottom: 20px; /*margen debajo*/
    color: #fff;
}

video.video#video1 {
    align-items: left;
    width: 38%;
    height:38%;
}
video.video#video2 {
    align-items: right;
    width: 38%;
    height:38%;
}

video.video#video0 {
    align-items: right;
    width: 21.5%;
    height:21.5%;
}

/*.video {
    align-items: center;
    width: 30%;
    height: 30%;
}*/

.cabecera h1 {
    font-size: 60px;
}

.cabecera p {
    font-size: 30px;
}
/*Cuadrados*/
.cuadrosHW {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*colocar el contenido en 4 columnas*/
    gap: 25px; /*espacio entre columnas*/
    margin: 70px 0px; /*margen abajo y a los lados*/
}

.cuadrosHW img {
    width: 100%;
    height: 40%;
}

.cuadrosHW h3 {
    font-size: 35px;
    margin: 10px 0;
}

.cuadrosHW p {
    font-size: 20px;
}

#enlace_contacto {
    color: black;
}

.footer {
    background-color: #004aad;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footer h3 {
    text-align: center;
    background-color: #004aad;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
}
.footer p {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.footer p1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

img#llama {
    width: 5%;
    height: 5%;
    align-items: left;
}

/*.footer*/